<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Admin_Login</servlet-name>
        <servlet-class>Servlet_Admin_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Signup</servlet-name>
        <servlet-class>Servlet_Admin_Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Forgot_Password</servlet-name>
        <servlet-class>Servlet_Admin_Forgot_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Recover_Password</servlet-name>
        <servlet-class>Admin_Recover_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Recover_Password</servlet-name>
        <servlet-class>Servlet_Admin_Recover_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_options</servlet-name>
        <servlet-class>Servlet_Admin_options</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Login</servlet-name>
        <servlet-class>Servlet_Student_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Signup</servlet-name>
        <servlet-class>Servlet_Student_Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Forgot_Password</servlet-name>
        <servlet-class>Servlet_Student_Forgot_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Recover_Password</servlet-name>
        <servlet-class>Servlet_Student_Recover_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Select_Student_Details</servlet-name>
        <servlet-class>Admin_Select_Student_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Select_Student_Details</servlet-name>
        <servlet-class>Servlet_Admin_Select_Student_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Select_Student_Attendance</servlet-name>
        <servlet-class>Servlet_Admin_Select_Student_Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Select_Email</servlet-name>
        <servlet-class>Servlet_Admin_Select_Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Add_Faculty</servlet-name>
        <servlet-class>Servlet_Admin_Add_Faculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Update_Faculty</servlet-name>
        <servlet-class>Servlet_Admin_Update_Faculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Select_Time_Table</servlet-name>
        <servlet-class>Servlet_Admin_Select_Time_Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Choose_Branch</servlet-name>
        <servlet-class>Servlet_Admin_Choose_Branch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Add_Branch</servlet-name>
        <servlet-class>Servlet_Admin_Add_Branch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Choose_Time_Table</servlet-name>
        <servlet-class>Servlet_Admin_Choose_Time_Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Admin_Add_TimeTable</servlet-name>
        <servlet-class>Servlet_Admin_Add_TimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Attendance</servlet-name>
        <servlet-class>Servlet_Student_Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Student_Options</servlet-name>
        <servlet-class>Servlet_Student_Options</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Login</servlet-name>
        <url-pattern>/Servlet_Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Signup</servlet-name>
        <url-pattern>/Servlet_Admin_Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Servlet_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Forgot_Password</servlet-name>
        <url-pattern>/Servlet_Admin_Forgot_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Recover_Password</servlet-name>
        <url-pattern>/Admin_Recover_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Recover_Password</servlet-name>
        <url-pattern>/Servlet_Admin_Recover_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_options</servlet-name>
        <url-pattern>/Servlet_Admin_options</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Login</servlet-name>
        <url-pattern>/Servlet_Student_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Signup</servlet-name>
        <url-pattern>/Servlet_Student_Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Forgot_Password</servlet-name>
        <url-pattern>/Servlet_Student_Forgot_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Recover_Password</servlet-name>
        <url-pattern>/Servlet_Student_Recover_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Select_Student_Details</servlet-name>
        <url-pattern>/Admin_Select_Student_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Select_Student_Details</servlet-name>
        <url-pattern>/Servlet_Admin_Select_Student_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Select_Student_Attendance</servlet-name>
        <url-pattern>/Servlet_Admin_Select_Student_Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Select_Email</servlet-name>
        <url-pattern>/Servlet_Admin_Select_Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Add_Faculty</servlet-name>
        <url-pattern>/Servlet_Admin_Add_Faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Update_Faculty</servlet-name>
        <url-pattern>/Servlet_Admin_Update_Faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Select_Time_Table</servlet-name>
        <url-pattern>/Servlet_Admin_Select_Time_Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Choose_Branch</servlet-name>
        <url-pattern>/Servlet_Admin_Choose_Branch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Add_Branch</servlet-name>
        <url-pattern>/Servlet_Admin_Add_Branch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Choose_Time_Table</servlet-name>
        <url-pattern>/Servlet_Admin_Choose_Time_Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Admin_Add_TimeTable</servlet-name>
        <url-pattern>/Servlet_Admin_Add_TimeTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Attendance</servlet-name>
        <url-pattern>/Servlet_Student_Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Student_Options</servlet-name>
        <url-pattern>/Servlet_Student_Options</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
